<app-navbar></app-navbar>
<div class="wrapper">
  <div class="main">
      <div class="preloader-background">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="center"><h4>Oyuncu bekleniyor...</h4></div>
  </div>
  <div class="sidebar">
    <app-current-users></app-current-users>
  </div>
</div>

